/* --- table */
.webrepo-table-striped > tbody > tr.package {
    background-color: #F9F9F9;
}
.package-version { display: none; }
.package-label { cursor:pointer; }
/* --- dragging */
.draggable {
	cursor: pointer;
}
.ui-draggable-dragging {
	border: 1px solid gray;
	background-color: #FFEB3B; 
	padding: 0.3em 0em 0.3em 1em;
}
.ui-state-active {
	background-color: #8BC34A; 
}
.ui-state-hover {
	background-color: #CDDC39; 
}

/* mdl
009688 - teal
4CAF50 - green
8BC34A - light green
CDDC39 - lime
FFEB3B - yellow
*/