/* modal window */
.modal-body {
    padding: 0;
}
.shell-body {
    height: 500px;
    overflow: auto;
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;
}

.shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
}

/* --- table */
.webrepo-table-striped > tbody > tr.package {
    background-color: #F9F9F9;
}
.package-version { display: none; }
.package-label { cursor:pointer; }
/* --- dragging */
.draggable {
    cursor: pointer;
}
.ui-draggable-dragging {
    border: 1px solid gray;
    background-color: #FFEB3B;
    padding: 0.3em 0em 0.3em 1em;
}
.ui-state-active {
    background-color: #8BC34A;
}
.ui-state-hover {
    background-color: #CDDC39;
}

/* mdl
009688 - teal
4CAF50 - green
8BC34A - light green
CDDC39 - lime
FFEB3B - yellow
*/

/* waiting icon */
.cssload-container {
    display: none;
    width: 100%;
    height: 30px;
    text-align: center;
}

.cssload-container:hover {
    cursor: pointer;
}

.cssload-double-torus {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 4px double;
    border-radius: 50%;
    border-color: transparent rgba(0,0,0,0.9) rgba(0,0,0,0.9);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}